# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
venv/
ENV/
env.bak
env.resource

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
*.swo
